<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2 category-wrap">
    
    <div class="col-md-6 ">
      <div class="category">
        <%= link_to "Achados&Perdidos", category_path("Achados&Perdidos") %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="category">
        <%= link_to "Classificiados", category_path("Classificados") %>
      </div>
    </div>
    
    <div class="search col-md-8 col-md-offset-2">
      <%= form_tag items_path, method:"get", class:"form-inline" do |f| %>
          <div class="input-group col-md-6 col-md-offset-3">
            <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Buscar Anuncio" %>
            <span class="input-group-btn">
              <%= button_tag icon('search').html_safe, class:"btn btn-default" %>
            </span>
          </div>
      <% end %>
    </div>
    
  </div>
</div>