<%= simple_form_for(@proposal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description,label: "Observações" %>
    <%= f.hidden_field :owner_id, value: @item.user_id %>
    <%= f.hidden_field :buyer_id, value: current_user.id %>
    <%= f.hidden_field :item_id, value: @item.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>
