<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @proposal.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
