<%= simple_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: "Nome"%><br>
  </div>
  <div class="field">
    <%= f.input :description, label: "Descrição" %><br>
  </div>
  <div class="field">
    <%= f.association :place, label: "Local mais próximo" %><br>
  </div>
  <div class="field">
    <%= f.input :tag_list, label: "Categoria", collection: @tags %><br>
  </div>
  
  <div class="field">
    <%= f.input :reward, label: "Recompensa" %>
  </div>
  
  <div class="field">
    <%= f.input :flexible, label: "O valor é negociável?" %>
  </div>

  <div class="field">
    <%= f.input :avatar, label:"Imagem" %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
