<div class="container">
  <div class="col-md-10 col-md-offset-1">
    
  <header class="col-md-12 page-header">
    <h2><%= params[:tag_list] %></h2>
  </header>

  <%= "<h4 class='center'>Não há items cadastrados no momento.</h4>".html_safe if  @items.nil? || @items.empty? %>
   
   <% @items.each do |item| %>   
    <% tag = ActiveSupport::Inflector.transliterate(item.tag_list[0].to_s) %> 
    <div class="card col-md-3">  
      <div class="item-card col-md-12">
          <%= link_to image_tag(item.avatar, class: "item-card-img img-full"), item_url(item) %>  
        <div class="description col-md-12">
          <span class="item-name col-md-12"><%= item.name %></span>  
          
        </div>

        <div class="text-right col-md-12">
          <span class="label label-<%= tag %>"><%= link_to (item.tag_list[0].to_s), category_path(tag) %></span>
        </div>

      </div>
    </div>
  <% end %>
  </div>
</div>
