<div class="container">
  <div class="col-md-10 col-md-offset-1">
  <%= "<h3>Infelizmente não encontramos nada...</h3>".html_safe if @items.empty? %>

  <% @items.each do |item| %>    
    <div class="card col-md-3">
      
      <div class="item-card col-md-12">
          <%= link_to image_tag("http://placehold.it/200x200", class: "item-card-img"), item_url(item) %>  
        <div class="description col-md-12">
          <span class="item-name col-md-12"><%= item.name %></span>  
          <span class="item-place col-md-12"><%= icon('map-marker') + "  "+ item.place.name %></span>
        </div>
        <div class="text-right col-md-12">
          <span class="label label-<%= item.tag_list[0].to_s %>"><%= link_to (item.tag_list[0].to_s), category_path(item.tag_list[0].to_s) %></span>
        </div>
      
      </div>
      </div>
  <% end %>
  </div>
</div>
