<div class=" container ">
  <div class="col-md-10 col-md-offset-1 item no-padding">
  
  <div class="map-wrapper col-md-12 no-padding">
    <div id="map" data-lat="<%= @item.place.latitude %>" data-long="<%= @item.place.longitude %>" data-name="<%= @item.place.name %>" style='min-height: 150px;'></div>
  </div>
  
  <div class="col-md-9 no-padding">

    <div class="col-md-3 no-padding">
      <%= cl_image_tag @item.avatar, class:"img-full" %>
      
      <div class="item-user center">
        <%= cl_image_tag @item.user.avatar, class:"img-circle" %>
        <br> <span> <%= @item.user.name %> </span>
      </div>
    </div>
    
    <div class="col-md-9 item-details">
      <h3 class="col-md-10"><%= @item.name %></h3>
      <div class="col-md-1">
        <span class="label label-<%= @item.tag %>"><%= link_to (@item.tag_list.first), category_path(@item.tag_list.first) %></span>
      </div>

      <div class="item-description col-md-12">
        <p><%= @item.description %> <br><br>
        </p>
      </div>

      <%= custom_details(@item) %>

    </div>

  </div>
  
  <div class="col-md-3 pull-right item-actions">
    <ul class="col-md-12 nav no-padding">
      <%= action_options(@item) %>
      <li><a href="" class="btn">Compartilhar FB</a></li>
      <li><a href="" class="btn">Compartilhar TW</a></li>
    </ul>
  </div>  
  
  </div>
</div>  


<%= javascript_tag do %>
  $(document).ready(function(){
    var place = <%= @item.place.to_json.html_safe %>;
    create_map(place);
  });
<% end -%>

    
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body new-proposal-modal">
        
      </div>
      <div class="modal-footer">
        <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>