<div class="top-margin page container">
    <div class="row">
      <div id="map" data-lat="<%= @item.place.latitude %>" data-long="<%= @item.place.longitude %>" data-name="<%= @item.place.name %>" style='width: 100%; height: 170px;' class="col-md-12"></div>
    </div>
    
  <div class='row'> 
    <div class="col-md-3 no-margin">
      <img src="http://placehold.it/200x200" class="img-full" alt="">  
    </div> 

    <div class="col-md-7 item-details">
      <h3><%= @item.name %></h3>
      
      <div class="item-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, iusto sint perferendis odio fugit assumenda ut beatae deleniti et autem porro quasi pariatur hic fugiat sapiente recusandae natus eius nesciunt. <br><br>
        <%= @item.tag_list %>
      </div>
      
      <div class="item-user pull-right">
        <img src="http://placehold.it/32x32" class="img-circle" alt="">
        <span> Fulano da Silva </span>
      </div>
      
    </div>

    <div class="col-md-2 pull-right item-actions">
        <span class="h5 col-md-12 text-center">opções</span>
        <ul class="col-md-12">
          <li><%= link_to "Achei", new_proposal_path(item_id: @item.id), :remote => true, data: { toggle: "modal", target:'#modal'}, class:"btn btn-success col-md-12" %></li>
          <li><a href="" class="btn btn-primary col-md-12 pull-right">Compartilhar</a></li>
        </ul>
        
        
    </div>  
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    var place = <%= @item.place.to_json.html_safe %>;
    create_map(place);
  });
<% end -%>

    
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body new-proposal-modal">
        <%= render "proposals/form" %>
      </div>
      <div class="modal-footer">
        <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>